html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
    
    
    
    li {
    display: inline-block; 
    margin: 10px;

}

li a {
text-decoration-line: none;
color: white;
}

.wrapper1 {
    display: grid;
    grid-gap: 20px;
    margin: 20px;
    background-color: chartreuse;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 33% 33% 33%;
    margin: 20px;
    background-color: #fff;
    color: rgb(8, 73, 30);
}

.box {
    background-color: rgb(10, 61, 10);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

}

.a {
    grid-column: 1 / span 3;
    grid-row: 2
;
}
.b {
    background-image: url(guitars.jpg);
    grid-area: auto;
    grid-column: 3 ;
    grid-row: 3 / span 2;
}
.c {
    grid-column: 1 /span 2  ;
    grid-row: 3 ;
}
.d {
    grid-column: 1 / span 3 ;
    grid-row: 4 ;
}
.d2 {
    background-image: url(gear2.jpg);
    grid-area: span;
    grid-column: 1 / span 1 ;
    grid-row: 6 ;
}
.e {
    grid-column: 2 / span 2 ;
    grid-row: 6 ;
}
.f {
    grid-column: 1 / span 3 ;
    grid-row: 7 ;
}
